{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Let us start with what I am doing right now. I am working in Vientiane Pattana School International, one of the best schools in Laos as a dance teacher. I teach dance to kids ages 3 -12 years old. </p>

        <p>I am a freelance web developer for almost 11 years now and dancing for 22 years at the same time until I discover that I can teach and share my talent to others.</p>

        <p>Technology always amazes me, where my curiosity constantly gives an unexpected knowledge. I love:</p>
         <ul>
           <li>AI</li>
           <li>Data Science</li>
          <li>Python</li>
          <li>Blockchain</li>
          <li>XRP</li>
          <li>PHP</li>
          <li>Firebase</li>
          <li>Flutter</li>
          <li>Coding</li>
          <li>Javascript</li>
        </ul>
        <p>I learned all of this by following my curiosity and builds strong interest to really study it. “When you are passionate about your work, you can reach greater heights,”</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}